* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none; }

html, body {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #46505d;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: none;
  text-shadow: 0 0 1px rgba(7, 18, 23, 0.02);
  letter-spacing: 0.2px; }

h1, h2, h3, h4 {
  font-weight: 700; }

h1 {
  margin: 0; }

h2 {
  margin: 0; }

h3 {
  margin-bottom: 16px; }

h4 {
  margin-top: 0;
  margin-bottom: 10px; }

.weather {
  position: relative;
  width: 100%;
  height: 100%; }
  .weather__wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #12cff3 0%, #5ab2f7 77%); }
  .weather__inner {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center; }
  .weather__container {
    position: relative;
    width: 320px;
    height: 667px;
    padding: 1.5rem 2rem 2rem;
    border-radius: 24px;
    overflow: hidden;
    background: linear-gradient(180deg, #12cff3 0%, #5ab2f7 85%);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09); }
    .weather__container_day {
      background: linear-gradient(180deg, #12cff3 0%, #5ab2f7 85%); }
    .weather__container_night {
      background: linear-gradient(45deg, #6b4984 0%, #483475 20%, #2b2f77 40%, #141852 80%, #070b34 100%); }
      .weather__container_night > .weather-content, .weather__container_night > .weather__header {
        color: white; }
      .weather__container_night .weather-content__row:nth-last-of-type(1), .weather__container_night .weather-toggle__btn {
        border-color: white; }
  .weather-content {
    position: relative;
    width: 100%;
    height: auto; }
    .weather-content__inner {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
    .weather-content__elem {
      display: inline-block;
      width: 100%;
      padding: .5rem 1rem;
      text-align: center; }
      .weather-content__elem#description, .weather-content__elem#degree {
        text-shadow: 1px 1px 1px rgba(45, 45, 45, 0.3); }
      .weather-content__elem#degree {
        font-size: 1.5rem; }
      .weather-content__elem_supp {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        white-space: nowrap;
        font-size: 0.875rem; }
    .weather-content__icon {
      line-height: 1;
      font-weight: 400;
      margin-right: 0.5rem; }
      .weather-content__icon_main {
        font-size: 3.625rem;
        text-shadow: 1px 1px 1px rgba(45, 45, 45, 0.3);
        margin-right: 0; }
      .weather-content__icon_supp {
        width: 1.0625rem;
        font-size: 1.0625rem; }
    .weather-content__row {
      position: relative;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      margin-bottom: 1rem;
      padding-top: 1rem; }
      .weather-content__row:nth-last-of-type(2) {
        border-top: 1px solid rgba(75, 85, 99, 0.3); }
      .weather-content__row:nth-last-of-type(1) {
        margin-top: 2rem; }
  .weather__heading {
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: 600; }
  .weather__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem; }
  .weather-toggle {
    display: flex;
    margin-bottom: 1rem; }
    .weather-toggle__text {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      margin-right: auto; }
    .weather-toggle__btn {
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem 0.5rem;
      border: 1px solid rgba(70, 80, 93, 0.3);
      font-size: 0.8125rem;
      cursor: pointer; }
      .weather-toggle__btn_active {
        background: linear-gradient(135deg, #fa9d7c 0%, #ef7aa5 100%); }
      .weather-toggle__btn_left {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px; }
      .weather-toggle__btn_right {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px; }

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  z-index: 800; }
  .menu_animated {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1); }
  .menu_active {
    animation-name: slideInRight; }
  .menu_inactive {
    animation-name: slideOutRight; }
  .menu__wrapper {
    height: inherit;
    overflow: hidden;
    border-radius: 24px;
    background: linear-gradient(180deg, #12cff3 0%, #5ab2f7 85%); }
  .menu__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem 2rem 2rem; }
  .menu__list {
    top: 0;
    height: 100%;
    padding: 0 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border: 0;
    overflow-y: auto; }
    .menu__list::-webkit-scrollbar {
      border-radius: 2px;
      background-color: transparent;
      width: 4px; }
    .menu__list::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5); }
    .menu__list::-webkit-scrollbar-track {
      border-radius: 2px; }
    .menu__list::-webkit-scrollbar-corner {
      background-color: rgba(0, 0, 0, 0.5); }
  .menu__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid rgba(70, 80, 93, 0.3);
    background-color: inherit;
    line-height: 1.5;
    transition: background 0.15s 0s cubic-bezier(0.45, 0, 0.55, 1); }
    .menu__item:hover {
      background: #2ad4f4; }
    .menu__item_over {
      border: 1px dashed #46505d; }
  .menu-searchbar {
    position: relative;
    display: flex;
    padding: 0 0.75rem 0.5rem 0.5rem;
    flex-flow: row nowrap; }
    .menu-searchbar__button {
      position: relative;
      height: 36px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0.75rem;
      border-bottom-right-radius: 0.375rem;
      border-top-right-radius: 0.375rem;
      border: 1px solid rgba(70, 80, 93, 0.3);
      color: #46505d;
      border-left: 0;
      background: transparent;
      z-index: 20;
      cursor: pointer; }
      .menu-searchbar__button:focus {
        border: 2px solid rgba(70, 80, 93, 0.7); }
    .menu-searchbar__input {
      width: 100%;
      height: 36px;
      padding: 0.5rem 0.75rem;
      border-top-left-radius: 0.375rem;
      border-bottom-left-radius: 0.375rem;
      border: 1px solid rgba(70, 80, 93, 0.3);
      color: #46505d;
      background: transparent;
      outline: none; }
      .menu-searchbar__input::-webkit-input-placeholder {
        color: rgba(70, 80, 93, 0.5); }
      .menu-searchbar__input::-moz-placeholder {
        color: rgba(70, 80, 93, 0.5); }
      .menu-searchbar__input::-ms-input-placeholder {
        color: rgba(70, 80, 93, 0.5); }
      .menu-searchbar__input::placeholder {
        color: rgba(70, 80, 93, 0.5); }
      .menu-searchbar__input:focus {
        border: 2px solid rgba(70, 80, 93, 0.7); }
  .menu__icon {
    display: block;
    height: 1.25rem;
    width: 1.25rem; }
    .menu__icon_delete {
      cursor: pointer;
      z-index: 800; }
    .menu__icon_drag {
      cursor: move;
      z-index: 800; }
    .menu__icon_open, .menu__icon_close {
      cursor: pointer;
      z-index: 800; }
  .menu__text {
    line-height: 20px;
    cursor: pointer; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(100%, 0, 0); } }

/*# sourceMappingURL=global.css.map */
