@import "_mixins/mixins";
@import "_variables/variables";

.weather {
  position: relative;
  width: 100%;
  height: 100%;

  &__wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(18, 207, 243) 0%, rgb(90, 178, 247) 77%);
  }

  &__inner {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    position: relative;
    width: 320px;
    height: 667px;
    padding: 1.5rem 2rem 2rem;
    border-radius: 24px;
    overflow: hidden;
    background: linear-gradient(180deg, rgb(18, 207, 243) 0%, rgb(90, 178, 247) 85%);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09),
    0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09),
    0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);;
  }

  &-content {
    position: relative;
    width: 100%;
    height: auto;

    &__inner {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    &__elem {
      display: inline-block;
      width: 100%;
      padding: .5rem 1.25rem;
      text-align: center;

      &#description,
      &#degree {
        text-shadow: 1px 1px 1px rgba(45, 45, 45, 0.3);
      }

      &#degree {
        font: {
          size: setFontSizeRem($rf-size, 24);
        }
      }

      &_supp {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
      }
    }

    &__icon {
      line-height: 1;
      font-weight: 400;
      margin-right: 0.5rem;

      &_main {
        font: {
          size: 3.625rem;
        };
        text-shadow: 1px 1px 1px rgba(45, 45, 45, 0.3);
        margin-right: 0;
      }

      &_supp {
        width: 1.125rem;
        font: {
          size: 1.125rem;
        };
      }
    }

    &__row {
      position: relative;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      margin-bottom: 1rem;
      padding-top: 1rem;

      &:nth-last-of-type(1) {
        border-top: 1px solid rgba(75, 85, 99, 0.3);
      }
    }
  }

  &__heading {
    line-height: 1.5;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

}


.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  z-index: getZIndex('flyout');

  &_animated {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier($animation-timing);
  }

  &_active {
    animation-name: slideInRight;
  }

  &_inactive {
    animation-name: slideOutRight;
  }

  &__wrapper {
    height: inherit;
    overflow: hidden;
    border-radius: 24px;
    background: linear-gradient(180deg, rgb(18, 207, 243) 0%, rgb(90, 178, 247) 85%);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 1.5rem 2rem 2rem;
  }

  &__list {
    display: block;
    top: 0;
    flex: 1 0 auto;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
    border: 0;
    overflow-y: auto;
    text-align: left;
    vertical-align: baseline;

    &::-webkit-scrollbar {
      border-radius: 2px;
      background-color: transparent;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &::-webkit-scrollbar-track {
      border-radius: 2px;
    }

    &::-webkit-scrollbar-corner {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid rgba(75, 85, 99, 0.3);
    text-align: left;
    font: {
      size: setFontSizeRem($rf-size, 16);
      weight: 500;
    };
    color: rgb(75, 85, 99);
    background-color: inherit;
    cursor: pointer;
    line-height: 1.5;
    transition: background 0.15s 0s cubic-bezier($animation-timing);

    &:hover {
      background: lighten(rgb(18, 207, 243), 5%);
    }

    &_over {
      border: 1px dashed rgba(75, 85, 99, 1);
    }
  }

  &-searchbar {
    position: relative;
    display: flex;
    padding: 0 0.5rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &__button {
      position: relative;
      height: 36px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0.75rem;
      border-bottom-right-radius: 0.375rem;
      border-top-right-radius: 0.375rem;
      border: 1px solid rgba(75, 85, 99, 0.3);
      border-left: 0;
      background: transparent;
      z-index: getZIndex('default');
      cursor: pointer;

      &:focus {
        border: 2px solid rgba(75, 85, 99, 0.7);
      }
    }

    &__input {
      width: 100%;
      height: 36px;
      padding: 0.5rem 0.75rem;
      border-top-left-radius: 0.375rem;
      border-bottom-left-radius: 0.375rem;
      border: 1px solid rgba(75, 85, 99, 0.3);
      color: rgb(75, 85, 99);
      background: transparent;
      outline: none;

      &::-webkit-input-placeholder {
        color: rgba(75, 85, 99, 0.5);
      }

      &::-moz-placeholder {
        color: rgba(75, 85, 99, 0.5);
      }

      &:-ms-input-placeholder {
        color: rgba(75, 85, 99, 0.5);
      }

      &::-ms-input-placeholder {
        color: rgba(75, 85, 99, 0.5);

      }

      &::placeholder {
        color: rgba(75, 85, 99, 0.5);
      }

      &:focus {
        border: 2px solid rgba(75, 85, 99, 0.7);
      }
    }
  }

  &__icon {
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    color: rgb(75, 85, 99);

    &_delete {
      cursor: pointer;
      z-index: getZIndex('flyout');
    }

    &_drag {
      cursor: move;
    }

    &_open,
    &_close {
      cursor: pointer;
      z-index: getZIndex('flyout');
    }
  }

}


@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}
